body {
    box-sizing: border-box;
    font-family: proxima-nova, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: #f3f4f6;
    border-radius: 0px;
}

.header {
    height: 48.5px;
    background-color: #204ecf;
}

.title {
    margin-top: 50px;
    font-size: 50px;
    color: #191f2d;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.footer {
    height: 48.5px;
    background-color: #191f2d;
}

.title-witch {
    height: 300px;
    width: 700px;
    margin: auto;
    text-align: center;
    font-size: 300px;
    color: #191f2d;
}

.info {
    height: 100px;
    width: 700px;
    margin-top: 20px; 
    margin-left: 600px;
    text-align: center;
    font-size: 30px;
    color: #191f2d;
}

.details {
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}

.eventkey,
.eventlocation,
.eventwitch,
.eventcode {
    height: 150px;
    width: 300px;
    background-color: #fff;
    margin: 20px;
    margin-left: 250px;
    position: absolute;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0 0 20px 1px lightgrey;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.eventkey:hover,
.eventlocation:hover,
.eventwitch:hover,
.eventcode:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.3);
}

.eventlocation {
    margin-left: 615px;
}

.eventwitch {
    margin-left: 980px;
}

.eventcode {
    margin-left: 1350px;
}

.event-title {
    height: 35px;
    background-color: #204ecf;
    color: #fff;
    font-size: 25px;
    padding: 5px;
    margin: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0px 0px;
    overflow-wrap: anywhere;
    flex-direction: row;
}

.key,
.location,
.witch,
.code {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #191f2d;
}
